node_modules/
dist/
.turbo/
.DS_Store
pnpm-lock.yaml
.pnpm-store/
.pnpm/
.pnpm-lock.yaml

# 环境变量
.env
.env.local

# IDE
.vscode/
.idea/

# VitePress 缓存
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/

# Mock 编译产物
apps/admin/mock/.compiled/
